page-home {


	.button-md-primary {

    color: #fff;
    background-color: #3c2da2;
    padding: 23px;
    box-shadow: 0px 0px 0px;
    border: 2px solid;
    font-family: 'Rounded';
    text-transform: none;
    font-size:20px;

	}

	ion-footer{

	font-size: 18px;
    margin-bottom: 16px;
    
	}

	
.powered{

	text-align:center;
	font-family: 'Rounded';
	
	color:#fff;
}	


.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {

    background-image: none;
}
	

	

	.content{

	    background: linear-gradient(270deg, #3c2da2 -43%, #6246DB 59%, #3c2da2 99%);
	}

	h1{
		color:color($colors, primary, base)
	}

}
